html {
  box-sizing: border-box;
  font-family: 'Karma', serif,'Oswald', sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  width: 100%;
}

h2 {
  font-family: "Oswald";
  color: #623b0c;
  margin-top: 0;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0;
}

li {
  background-color: #ede3db;
  padding: 1rem;
  border: 2px solid #623b0c;
  border-radius: 8px;
}

p {
  margin: 0 0 auto;
}

ol a {
  padding: 1rem;
  background-color: #623b0c;
  border-radius: 8px;
  text-decoration: none;
  text-align: left;
  color: #fff;
  margin-top: 1.5rem;
}
